<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsAppTestSaveLoad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WindowsFormsAppTestSaveLoad.Properties.Settings>
            <setting name="NumRecent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Recent1" serializeAs="String">
                <value>C:\test\test.txt</value>
            </setting>
            <setting name="Recent2" serializeAs="String">
                <value>C:\test\rwqeqw.txt</value>
            </setting>
            <setting name="Recent3" serializeAs="String">
                <value>C:\test\qwer.txt</value>
            </setting>
            <setting name="Recent4" serializeAs="String">
                <value>C:\test\1234.txt</value>
            </setting>
            <setting name="Recent5" serializeAs="String">
                <value>C:\test\prazno.txt</value>
            </setting>
            <setting name="Recent6" serializeAs="String">
                <value>C:\test\proba.txt</value>
            </setting>
            <setting name="Recent7" serializeAs="String">
                <value>C:\test\probica.txt</value>
            </setting>
            <setting name="Recent8" serializeAs="String">
                <value>C:\test\rwqeqweqweqwewq.txt.txt</value>
            </setting>
            <setting name="Recent9" serializeAs="String">
                <value>C:\test\Zvezdana.txt</value>
            </setting>
            <setting name="Recent10" serializeAs="String">
                <value>C:\test\Zvezdica.txt</value>
            </setting>
        </WindowsFormsAppTestSaveLoad.Properties.Settings>
    </userSettings>
</configuration>